.header{
  min-height: 83px;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
  padding: 45px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:1024px){
  .header{
    padding: 0 27px 0 27px;
  }
}
@media screen and (max-width:768px){
  .header{
    border-top: 1px solid rgba(54, 54, 54, .7);
  }
}
